* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    color: #292929;
}

.main {
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 50px 25px;
    width: 800px;
}

.main h1 {
    text-align: center;
    margin-bottom: 25px;
}

.main table {
    border-collapse: collapse;
    margin: 0 auto;
}

.main table thead {
    background-color: #ccc;
}

.main th, .main td {
    border: 1px solid #ccc;
    padding: 10px;
}
